@model IEnumerable<ProjectApp.Models.Auctions.AuctionsVm>

@{
ViewData["Title"] = "Place a Bid";
}

<h1>Auctions Available for Bidding</h1>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th>@Html.DisplayNameFor(model => model.AuctionEndTime)</th>
        <th>Bid</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var auction in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => auction.Name)</td>
        <td>@Html.DisplayFor(modelItem => auction.Description)</td>
        <td>@Html.DisplayFor(modelItem => auction.Price)</td>
        <td>@Html.DisplayFor(modelItem => auction.AuctionEndTime)</td>
        <td>
            <form asp-action="PlaceBid" method="post">
                <input type="hidden" name="AuctionId" value="@auction.Id" />
                <input type="number" name="BidAmount" step="0.01" placeholder="Enter bid" required />
                <button type="submit">Place Bid</button>
            </form>
        </td>
    </tr>
    }
    </tbody>
</table>
